#Aqui se pone los nombres de los archivos/carpetas que no quiero subir a GitHub
#ignorar archivo configuracion_local.sh
configuracion_local.sh
history.txt

#ignorar carpeta o directorio
archivos_personales/

#ignorar todos los archivos con extensiones de photoshop y gimp
*.psd
*.xcf